<!DOCTYPE html>
<html ng-app="preview">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.base_path }}{{ site.assets_path }}css/main.css">
    <!-- Bootswatch -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/spacelab/bootstrap.min.css">

    <script type="text/javascript" src="{{ site.base_path }}{{ site.assets_path }}components/angular/angular.min.js"></script>
    <script type="text/javascript" src="{{ site.base_path }}{{ site.assets_path }}components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="{{ site.base_path }}{{ site.assets_path }}components/angular-route/angular-route.min.js"></script>

    <script type="text/javascript" src="{{ site.base_path }}{{ site.assets_path }}ng/app.js"></script>
    <script type="text/javascript" src="{{ site.base_path }}{{ site.assets_path }}ng/controllers/HomeCtrl.js"></script>
    <script type="text/javascript" src="{{ site.base_path }}{{ site.assets_path }}ng/controllers/ThemeCtrl.js"></script>
  </head>
  <body>

    <div id="site" ng-controller="HomeCtrl">
      {{ content }}
    </div>

    <script type="text/javascript" src="{{ site.base_path }}{{ site.assets_path }}js/sizes.js"></script>
  </body>
</html>
